/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vw;
    margin: 0;
    padding: 0;
    background-color: #ffcc00;
    font-family: arial;
    
}

html { height: 100%; }

.card{
    padding: 5vw;
    min-height: 2.5vh;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.50);
    background-color:#f2f2f2;
    margin: 5vw;
    margin-top: 2vh;
}

.generated{
    position: relative;
    top: 2vh;
}

#intro{
    padding: 0;
    margin: auto 0;
    text-align: center;
    background-color: #cc0099;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    border-radius: 2px;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.50);
}

#intro h1{
    font-size: 2rem;
    padding-top: 2.5vw;
    letter-spacing: 2px;
}

#map-canvas{
    margin: 0 auto;
    margin-top: 2vh;
    height: 30vh; 
    width: 70vw;
}

.controlButton{
    width: 40px;
    position: relative;
    z-index: -1;
}

.label{
    color: grey;
}

#addressPickerContainer{
    margin: 0 auto;
    background-color: #660066;
    width: 100vw;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#address {
    margin-top: 1vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 1.5rem;
    margin-bottom: 1vw;
    width:60vw;
    /*background-color: white; */
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: .5vh;
    padding-bottom: .5vw;
}

#wikipedia{
    overflow-y: auto;
    height: 20vh;
}

#extract{
    float: left;
    width: 60vw;
    margin: 0;
}
.refresh{
    position: sticky;
    top: 5vh;
    left: 10vw;
    margin-left: 70vw;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/* smaller screens*/
@media screen and (max-width: 350px){
    #address{
        font-size: 1.3rem;
    }
    #addressPickerContainer{
        height: 8vh;
    }
    #intro{
        height: 15vh;
    }
}

@media screen and (max-width: 2047px){
    #address{
        font-size: 3rem;
    }
    #addressPickerContainer{
        height: 10vh;
    }
    #intro{
        height: 15vh;
    }

    #intro h1 {
        font-size: 5rem;
    }
    
    .controlButton{
        width: 80px;
    }

    p{
        font-size: 3rem;
    }


}

/* Big screens*/
@media all and (min-width: 2048px){
    #address{
        font-size: 4rem;
    }
    #addressPickerContainer{
        height: 10vh;
    }
    #intro{
        height: 15vh;
    }

    #intro h1 {
        font-size: 10rem;
    }
    
    .controlButton{
        width: 80px;
    }

    .controlButton:nth-of-type(2){
        display: none;
    }

    p{
        font-size: 3rem;
    }


}


